.wrapper {
  font-family: "open-sans-bold", sans-serif;
  background-image: url("./prism.png");
  /* background-color: rgb(214, 248, 248); */
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  min-height: 100vw;
  /* padding-bottom: 3%; */
}
