/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  /* Original */
  /* --primary: #1aac83;
  --cards-background: #dbdbdb;
  --header-background: #85c7f2;
  --body-background: #636363;
  --dark-text: #4c4c4c;
  --error: #e7195a; */

  /* budget palette #2 */
  --primary: #139a43;
  --cards-background: #DCE0D9;
  --header-background: #37A983;
  --body-background: #143E30;
  --dark-text: #000;
  --gray-btn: #4c4c4c;
  --error: #e7195a;

}

* {
  margin: 0;
  padding: 0;
}
body {
  background: var(--body-background);
  margin: 0;
  font-family: "Poppins";
}
header {
  background: var(--header-background);
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: var(--dark-text);
  text-decoration: none;
}
.pages {
  /* max-width: 1400px; */
  margin: 0;
  padding: 0;
  /* display: flex; */
  /* justify-content: space-evenly;
  gap: 20px; */
}

.page-container {
  position: relative;
  min-height: 100vh;

}

.content-wrap {
  padding-bottom: 2.5rem;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  
  background-color: var(--header-background);
  color: var(--dark-text);
  font-weight: bold;
}

/* start language toggle */
.lang-container {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.lang-container button {
  position: relative;
  background-color: var(--gray-btn);
  color: var(--cards-background);
  border: none;
  font-size: 16px;
  padding: 4px 8px 4px 8px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}
.lang-container button:hover {
  background-color: var(--cards-background);
  color: var(--gray-btn);
}

#english-btn-focused {
  background-color: var(--cards-background);
  color: var(--primary);
  top: 4px;
  left: 2px;
  box-shadow: none;
}

#spanish-btn-focused {
  background-color: var(--cards-background);
  color: var(--primary);
  top: 4px;
  left: 2px;
  box-shadow: none;
}
/* end language toggle */

/* homepage */
.home {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* align-items: start; */
  margin: 20px;
  gap: 10px;
  
}



.transactions {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.transaction-details { 
  max-width: 600px;
  background: var(--cards-background);
  border-radius: 4px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
form {
  margin: 0px auto 20px auto;
  max-width: 400px;
}
.create {
  color: var(--cards-background);
}
.form-header {
  color: var(--cards-background);
}

/* form buttons container */
.form-buttons-container {
  margin: 10px;
  display: flex;
  justify-content:center;
  gap: 5px;
}

.form-buttons-container button {
  position: relative;
  background-color: var(--gray-btn);
  color: var(--cards-background);
  border: none;
  font-size: 16px;
  padding: 4px 8px 4px 8px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}



.form-buttons-container button:hover {
  background-color: var(--cards-background);
  color: var(--gray-btn);
}

#expense-form-btn:active {
  background-color: var(--error);
  top: 4px;
  left: 2px;
  box-shadow: none;
}

#expense-form-btn-focused {
  background-color: var(--error);
  top: 4px;
  left: 2px;
  box-shadow: none;
}

#income-form-btn:active {
  background-color: var(--primary);
  top: 4px;
  left: 2px;
  box-shadow: none;
}
#income-form-btn-focused {
  background-color: var(--primary);
  top: 4px;
  left: 2px;
  box-shadow: none;
}

#hide-form-btn:active {
  background-color: var(--dark-text);
  top: 4px;
  left: 2px;
  box-shadow: none;
}
#hide-form-btn-focused {
  background-color: var(--dark-text);
  top: 4px;
  left: 2px;
  box-shadow: none;
}

.transaction-details h4 {
  margin: 10px;
  font-size: 1.2em;
}
.expense-details-amount {
  color: var(--error);
}

.income-details-amount {
  color: var(--primary);
}
.transaction-details p {
  margin: 0;
  font-size: 0.9em;
  color: var(--dark-text);
  margin: 0 10px;
}
.transaction-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: var(--error);
  padding: 6px;
  border-radius: 50%;
  font-weight: 600;
  color: var(--cards-background);
}

/* new transaction form */


label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
.add-transaction-btn {
  position: relative;
  background-color: var(--primary);
  color: var(--cards-background);
  border: none;
  font-size: 16px;
  padding: 4px 8px 4px 8px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}

.add-transaction-btn:hover {
  color: var(--dark-text);
}

.add-transaction-btn:active {
  background-color: var(--cards-background);
  color: var(--primary);
  top: 4px;
  left: 2px;
  box-shadow: none;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error)
}



.nav-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.nav-container a {
  color: var(--cards-background);
  font-size: 1.3em;
  font-weight: bold;
}

a:hover {
  color: var(--gray-btn);
  text-decoration: underline;
}

.login, .signup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px; 
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  max-width: 400px;
  background-color: var(--cards-background);
  color: black;
  padding: 20px 10px;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
}
a {
  color:var(--dark-text);
}

.nav-header-large {
  display: none;
}
.nav-header-small {
  display: block;
}

nav button {
  position: relative;
  color: var(--primary);
  background-color: var(--cards-background);
  border: none;
  font-size: 18px;
  padding: 4px 8px 4px 8px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}

nav button:hover {
  color: var(--dark-text);
}

nav button:active {
  color: var(--cards-background);
  background-color: var(--primary);
  top: 4px;
  left: 2px;
  box-shadow: none;
}

.user-email-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}




@media (min-width: 600px) {
  .home {
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: start;
    
  }
  .transactions {
    min-width: 280px;
  }

  form {
    
    margin: 0;
    min-width: 200px; 
  }
  .nav-header-large {
    display: block;
  }
  .nav-header-small {
    display: none;
  }

  
}

@media (min-width: 768px) {
  .home {
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: start;
    
  }
  .transactions {
    min-width: 400px;
  }

  form {
    margin: 0;
    min-width: 300px;
  }
  .nav-header-large {
    display: block;
  }
  .nav-header-small {
    display: none;
  }

  .nav-container {
    gap: 20px;
    flex-direction: row;
  }
  
}

@media (min-width: 992px) {
  .home {
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: start;
  }
  .transactions {
    min-width: 600px;
  }

  form {
    margin: 0;
    min-width: 300px; 
  }
  .nav-header-large {
    display: block;
  }
  .nav-header-small {
    display: none;
  }

  .nav-container {
    gap: 20px;
    flex-direction: row;
  }
  
}